<div class="row detail">
	<div class="col-md-7">
		<h2 style="font-family: 'Roboto', sans-serif;">
			<strong>{{ctrl.json.account_cust_name}} (Age: {{ctrl.json.age}})</strong>
		</h2>

		<div class="row">
			<div class="col-md-3 hidden-sm img-thumbnail">
					Photo
			</div>
			<div class="col-md-9">
				<div class="panel panel-default">
					<div class="panel-heading" style="text-align:start;font-style:bold">
						<strong>Basic Information</strong>
					</div>
					<div class="panel-body">
						<table class="table table-bordered table-hover table-striped table-condensed">				
							<tbody>
								<tr>
									<td>Marital Status</td>
									<td>{{ctrl.json.category}}</td>
								</tr>
								<tr>
									<td>Kids</td>
									<td>{{ctrl.json.kids}}</td>
								</tr>
								<tr>
									<td>Houses</td>
									<td>{{ctrl.json.houses}}</td>
								</tr>
								<tr>
									<td>Vehicles</td>
									<td>{{ctrl.json.vehicles}}</td>
								</tr>
								<tr>
									<td>City</td>
									<td>{{ctrl.json.city}}</td>
								</tr>
								<!--tr>
							<td>Region</td>
							<td>{{ctrl.json.region}}</td>
						</tr-->
								<tr>
									<td>Country</td>
									<td>{{ctrl.json.country}}</td>
								</tr>
							</tbody>
						</table>

					</div>
				</div>
			</div>		
		</div>

		<div class="row">
			<div class="col-md-12 hidden-xs">
				<div class="panel panel-default">
					<div class="panel-heading" style="text-align:start;font-style:bold">
						<strong>Account Information</strong>
					</div>
					<div class="panel-body">
						<table class="table table-bordered table-hover table-striped table-condensed">
							<tbody>
								<tr>
									<td>Account No</td>
									<td>{{ctrl.json.account_no}}</td>
								</tr>
								<tr>
									<td>Customer Class</td>
									<td>
										<a href='#'>{{ctrl.json.cust_class}}</a>
									</td>
								</tr>
								<tr>
									<td>Product Type</td>
									<td>{{ctrl.json.product_type}}</td>
								</tr>
								<tr>
									<td>Transactions/Month</td>
									<td>
										<a href='#'>{{ctrl.json.trans_per_month}}</a>
									</td>
								</tr>
								<tr>
									<td>Balance</td>
									<td>{{ctrl.json.balance | commaLess | currency:'IDR '}}</td>
								</tr>
								<tr>
									<td>Salary</td>
									<td>{{ctrl.json.salary | currency:'IDR '}}</td>
								</tr>
								<tr>
									<td>Last Login</td>
									<td>{{ctrl.json.last_login_date | date}}</td>
								</tr>
							</tbody>
						</table>

					</div>
				</div>	
			</div>
		</div>
	</div>

	<div class="col-md-5">
		<div ng-init="mandiriDeposit=(ctrl.json.age >= '22' 
									&& (ctrl.json.balance | commaLess) >= 50000000
									&& ctrl.json.salary >= '8000000'
									&& ctrl.json.kids === '0'
									&& ctrl.json.houses === '0'
									&& ctrl.json.vehicles === '0') || ctrl.json.product_type==='Mandiri Deposit'">
			<div ng-if="mandiriDeposit" class="btn btn-primary btn-block img-rounded" style="text-align:left">
				<h3>Mandiri Deposit</h3>
				<!-- code to render a large video block-->
						Match
			</div>
			<div ng-if="!mandiriDeposit" class="btn btn-default btn-block img-rounded disabled" style="text-align:left" data-toggle="collapse" data-target="#demo1">
				<h3>Mandiri Deposit</h3>
				<!-- code to render a large video block-->
						Not Match
				<div id="demo1" class="collapse">
					<p/>Salary &gt;= 8 JUTA
					<br/>Balance &gt;= 50 JUTA
					<br/>Age &gt;= 22 TAHUN
					<br/>Kids = 0
					<br/>houses = 0
					<br/>vehicles = 0
				</div>
			</div>
		</div>

		<br/>

		<div ng-init="mandiriConsumenLoan=(ctrl.json.age >= '30' 				
									&& ctrl.json.category === 'menikah'
									&& (ctrl.json.balance | commaLess) >= 100000000
									&& ctrl.json.salary >= '12000000'
									&& ctrl.json.houses === '0'
									&& ctrl.json.kids === '0'
									&& ctrl.json.vehicles >= '1') || ctrl.json.product_type==='Mandiri Consumen Loan'">
			<div ng-if="mandiriConsumenLoan" class="btn btn-success btn-block img-rounded" style="text-align:left">
				<h3>Mandiri Consumen Loan</h3>
				<!-- code to render a large video block-->
						Match
			</div>
			<div ng-if="!mandiriConsumenLoan" class="btn btn-default btn-block img-rounded disabled" style="text-align:left" data-toggle="collapse" data-target="#demo2">
				<h3>Mandiri Consumen Loan</h3>
				<!-- code to render a large video block-->
						Not Match
				<div id="demo2" class="collapse">
					<p/>Salary &gt;= 12 JUTA
					<br/>Balance &gt;= 100 JUTA
					<br/>Age &gt;= 30 TAHUN
					<br/>Status Menikah
					<br/>Kids = 0
					<br/>houses = 0
					<br/>vehicles &gt;= 1
				</div>
			</div>
		</div>

		<br/>				
		<div ng-init="mandiriCreditCard=(ctrl.json.age >= '22' 
									&& (ctrl.json.balance | commaLess) >= 10000000
									&& ctrl.json.salary >= '8000000'
									&& ctrl.json.houses === '0'
									&& ctrl.json.kids === '0'
									&& ctrl.json.vehicles >= '1') || ctrl.json.product_type==='Mandiri Credit Card'">
			<div ng-if="mandiriCreditCard" class="btn btn-info btn-block img-rounded" style="text-align:left">
				<h3>Mandiri Credit Card</h3>
				<!-- code to render a large video block-->
						Match
			</div>
			<div ng-if="!mandiriCreditCard" class="btn btn-default btn-block img-rounded disabled" style="text-align:left" data-toggle="collapse" data-target="#demo3">
				<h3>Mandiri Credit Card</h3>
				<!-- code to render a large video block-->
						Not Match
				<div id="demo3" class="collapse">
					<p/>Salary &gt;= 8 JUTA
					<br/>Balance &gt;= 10 JUTA
					<br/>Age &gt;= 22 TAHUN
					<br/>Kids = 0
					<br/>houses = 0
					<br/>vehicles &gt;= 1
				</div>
			</div>
		</div>
		
		<br/>				
		<div ng-init="mandiriSavings=(ctrl.json.age >= '18' 
										&& (ctrl.json.balance | commaLess) >= 18000000
										&& ctrl.json.salary >= '8000000'
										&& ctrl.json.houses === '0'
										&& ctrl.json.kids === '0'
										&& ctrl.json.vehicles === '0') || ctrl.json.product_type==='Mandiri Savings'">
			<div ng-if="mandiriSavings" class="btn btn-warning btn-block img-rounded" style="text-align:left">
				<h3>Mandiri Savings</h3>
				<!-- code to render a large video block-->
						Match
			</div>
			<div ng-if="!mandiriSavings" class="btn btn-default btn-block img-rounded disabled" style="text-align:left" data-toggle="collapse" data-target="#demo4">
				<h3>Mandiri Savings</h3>
				<!-- code to render a large video block-->
						Not Match
					<div id="demo4" class="collapse">
						<p/>Salary &gt;= 8 JUTA
						<br/>Balance &gt;= 18 JUTA
						<br/>Age &gt;= 18 TAHUN
						<br/>Kids = 0
						<br/>houses = 0
						<br/>vehicles = 0
					</div>
			</div>
		</div>
		<br/>		

		<div ng-init="mandiriIBI=(ctrl.json.age >= '25' 
									&& ctrl.json.category === 'menikah'
									&& (ctrl.json.balance | commaLess) >= 20000000
									&& ctrl.json.salary >= '8000000'
									&& ctrl.json.houses === '0'
									&& ctrl.json.kids >= '1'
									&& ctrl.json.vehicles === '0') || ctrl.json.product_type==='Investment And Bank Insurance'">
			<div ng-if="mandiriIBI" class="btn btn-danger btn-block img-rounded" style="text-align:left">
				<h3>Investment And Bank Insurance</h3>
				<!-- code to render a large video block-->
						Match
			</div>
			<div ng-if="!mandiriIBI" class="btn btn-default btn-block img-rounded disabled" style="text-align:left" data-toggle="collapse" data-target="#demo5">
				<h3>Investment And Bank Insurance</h3>
				<!-- code to render a large video block-->
						Not Match
				<div id="demo5" class="collapse">
					<p/>Salary &gt;= 8 JUTA
					<br/>Balance &gt;= 20 JUTA
					<br/>Age &gt;= 25 TAHUN
					<br/>Status Menikah
					<br/>Kids &gt;= 1
					<br/>houses = 0
					<br/>vehicles = 0
				</div>
			</div>
		</div>
		
	</div>

	<div class="col-sm-12 col-md-7">
		
		<div class="row">
			<div id="buttons-detail">
				<button class="btn btn-default" ui-sref="root.search">Search Again</button>
				<button class="btn btn-primary"
              ng-show="!rootCtrl.currentUser.disallowUpdates" 
              ui-sref="root.edit({uri: ctrl.uri, prev: 'root.view'})">Edit</button>
				<button class="btn btn-primary"
              ng-show="!rootCtrl.currentUser.disallowUpdates" 
              mwl-confirm
              title="This will permanently delete {{ctrl.uri}}, are you sure?"
              confirm-text="Yes"
              cancel-text="No"
              placement="bottom"
              on-confirm="ctrl.delete()"
              on-cancel="cancelClicked = true"
              confirm-button-type="danger"
              cancel-button-type="default">Delete</button>
			</div>
			<br>
				<div class="panel panel-default">
					<div class="panel-heading">Similar Documents named {{ctrl.json.account_cust_name}}</div>
					<div class="panel-body">
						<ml-similar uri="{{ctrl.uri}}" limit="5"/>
					</div>
				</div>
			</div>
		</div>
	</div>
	